<ion-app>
  <ion-split-pane>

    <ion-menu>
      <ion-content padding>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item class="user-avatar" lines="none" routerDirection="root" routerLink="/authentication/sign-in">
              <ion-avatar class="user-avatar__img">
                <img src="assets/img/anonymous-user.png">
              </ion-avatar>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of mainMenu">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

      <ion-footer>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of footerMenu">
          <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-footer>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>

  </ion-split-pane>
</ion-app>